@import "../../styles/globals.css";
/* Create Post Box */
.mainPostBox{
  width: 100%;
}
.post-image{
  width: 280px;
  max-width: 100%;
  height: auto;
  max-height: 320px;
  cursor: pointer;
  border-radius: 1rem;
  object-fit: fill;
}
.post-image:hover{
  opacity: 0.4;
}
.modal-image{
  width: 100%;
  height: auto;
  border-radius: 2rem;
}
.create-postBox {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
  align-items: center;
  width: 100%;
}

.create-postBox > .avatar-medium {
  border: 1px solid white;
}

.buttons-container {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.buttons-widget {
  display: flex;
  gap: 20px;
}

@media (max-width: 600px) {
  .widget-text {
    display: none;
  }
}
@media (min-width: 1200px) {
  .mainPostBox {
    width: 554px;
  }
}
