@import "../../styles/globals.css";
/* Create Post Box */
.mainPostBox{
  width: 100%;
}
.create-postBox {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
  align-items: center;
  width: 100%;
}

.create-postBox > .avatar-medium {
  border: 1px solid white;
}

.buttons-container {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.buttons-widget {
  display: flex;
  gap: 20px;
}

/* @media (min-width: 1920px) {
  .mainPostBox {
    width: 700px;
  }
} */
@media (min-width: 1200px) {
  .mainPostBox {
    width: 554px;
  }
}
