.avatar-medium {
  width: 3.5rem !important;
  height: 3.5rem !important;
}
.card-text:hover{
  cursor: pointer;
  text-decoration: underline;
}
.user-cardCont {
  width: 345px;
  position: fixed;
  margin: auto;
  padding: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
}
.share-modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 0px 10px;
}
.titleNav {
  cursor: pointer;
}
.modal {
  animation: swipeDown 0.15s ease;
}

@keyframes swipeDown {
  0% {
    left: -30%;
  }
  25% {
    left: -25%;
  }
  50% {
    left: 0%;
  }
  75% {
    left: 25%;
  }
  100% {
    left: 50%;
  }
}
